@{
    ViewBag.Title = "Sign in";
    ViewBag.footerLogin = false;
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h3>Log in</h3>
            @Html.Partial("_LoginForm")
        </div>
    </div>
   
</div>
