@{
    ViewBag.Title = "About";
}

<div class="container">
    <h2>About</h2>

    <p>Whizzy.js is a presentation framework designed for the web and the HTML5 Canvas element.</p>
    <p>Presentations follow a different approach to the standard slideshow format present in the majority of presentation software.</p>
    <p>Alternate to partitioning information into slides, Whizzy.js allows you to arrange information onto a vast and fluid canvas without division, allowing for greater expression of ideas and relationships between data.</p>
    <p>The Whizzy editor also gives you the power to author full presentations, quickly and easily inside your browser, to be exported to any device with web capabilities.</p>
    <br/>
</div>

