<a class="swatch tool-colour" data-id="#ffffff" style="background: #ffffff;"></a>
<a class="swatch tool-colour" data-id="#CF000F" style="background: #CF000F;"></a>
<a class="swatch tool-colour" data-id="#C93756" style="background: #C93756;"></a>
<a class="swatch tool-colour" data-id="#FCC9B9" style="background: #FCC9B9;"></a>
<a class="swatch tool-colour" data-id="#875F9A" style="background: #875F9A;"></a>
<a class="swatch tool-colour" data-id="#4D8FAC" style="background: #4D8FAC;"></a>
<a class="swatch tool-colour" data-id="#59ABE3" style="background: #59ABE3;"></a>
<a class="swatch tool-colour" data-id="#1F4788" style="background: #1F4788;"></a>
<a class="swatch tool-colour" data-id="#006442" style="background: #006442;"></a>
<a class="swatch tool-colour" data-id="#26A65B" style="background: #26A65B;"></a>
<a class="swatch tool-colour" data-id="#36D7B7" style="background: #36D7B7;"></a>
<a class="swatch tool-colour" data-id="#F3C13A" style="background: #F3C13A;"></a>
<a class="swatch tool-colour" data-id="#F5D76E" style="background: #F5D76E;"></a>
<a class="swatch tool-colour" data-id="#F9690E" style="background: #F9690E;"></a>
<a class="swatch tool-colour" data-id="#BFBFBF" style="background: #BFBFBF;"></a>
<a class="swatch tool-colour" data-id="#757D75" style="background: #757D75;"></a>