<div id="panel-content-1" class="col-lg-2 edit-col">
    <div class="edit-col-header">
        <h4>Scenes</h4>
    </div>
    <div class="edit-col-body">
        <div class="sortlist-container">
            <a class="select-scene sortlist-item" data-id="0">Stage</a>
            <ul id="scenelist" class="sortlist"></ul>
        </div>
        <a id="btn_addscene" class="btn btn-success center-block">Add Scene</a>
    </div>
</div>

