<div id="panel-content-2" class="col-lg-2 edit-col">
    <div id="content-panel">
        <div id="scene-title" class="edit-col-header">
            <button id="btn_deletescene" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="left" title="Delete this scene" data-container="body">
                <span class="glyphicon glyphicon-trash"> </span>
            </button>
            <h4 style="display:inline-block;"></h4>
        </div>

        <div class="edit-col-body">
            <h6 class="center-block">Add Item</h6>
            <div class="row">
                <div id="btn_addText" class="btn btn-default tool-icon">
                    <span class="glyphicon glyphicon-text-background"></span>
                    <p>Text</p>
                </div>
                <div id="btn_addImage" data-toggle="modal" data-target="#image-select-modal" class="btn btn-default tool-icon">
                    <span class="glyphicon glyphicon-picture"></span>
                    <p>Image</p>
                </div>
                <div id="btn_addRectangle" class="btn btn-default tool-icon">
                    <span class="glyphicon glyphicon-stop"></span>
                    <p>Rectangle</p>
                </div>
                <div id="btn_addArc" class="btn btn-default tool-icon">
                    <span class="glyphicon glyphicon-adjust"></span>
                    <p>Arc</p>
                </div>
            </div>
            <div class="row">
                <h6 class="center-block">Scene Items</h6>
                <div class="sortlist-container">
                    <ul id="contentlist" class="sortlist"></ul>
                </div>
            </div>

        </div>
    </div>
</div>