<div id="panel-transitions-2" class="col-lg-2 edit-col">
    <div id="content-panel">
        <div id="action-title" class="edit-col-header">
            <button id="btn_deleteaction" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="left" title="Delete transition" data-container="body">
                <span class="glyphicon glyphicon-trash"> </span>
            </button>
            <h4 style="display:inline-block;"></h4>
        </div>
        <div id="animation-panel" class="edit-col-body">
            <div class="sortlist-container">
                <ul id="animation-list" class="sortlist"></ul>
            </div>
            <button id="btn_addanimation" class="btn btn-success center-block">Add Animation</button>
        </div>
        <div id="animation-title" class="edit-col-header">
            <button id="btn_deleteanimation" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="left" title="Delete animation" data-container="body">
                <span class="glyphicon glyphicon-trash"> </span>
            </button>
            <h4 style="display:inline-block;"></h4>
        </div>
        <div id="action-settings"class="edit-col-body">
                <label>Duration (seconds)</label>
                <div class="input-group center-block">
                    <span class="input-group-btn">
                        <button id="btn_actiondurationsubtract" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-minus"></span></button>
                    </span>
                    <input id="action-duration" class="form-control" type="text" value="0.5">
                    <span class="input-group-btn">
                        <button id="btn_actiondurationadd" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
                </div>
        </div>
    </div>
</div>