<div id="panel-transitions-1" class="col-lg-2 edit-col">
    <div class="edit-col-header">
        <h4>Transitions</h4>
    </div>
    <div class="edit-col-body">
        <div class="sortlist-container">
            <a class="select-action sortlist-item" data-id="n0">Starting Position</a>
            <ul id="actionlist" class="sortlist"></ul>
        </div>
        <a id="btn_addtransition" class="btn btn-success center-block">Add Transition</a>
    </div>
</div>
